<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">


    <title>Hello, world!</title>
  </head>
  <body>
    {% block content %}
    
    {% endblock content %}
    <footer class="bg-light text-center mt-5 text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright: TEAM 15
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js')}}" ></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" ></script>


    
  </body>
</html>